body {
	background-color: #222;
	color: rgb(119, 153, 119);
	font-family: sans-serif;
	padding: 1em 3em 1em 3em;
	line-height: 1.5;
	font-size: 0.8em;
	}
div.frames {
	text-align: center;
	}
div.frame {
	margin: 1px 0 2px 0;
	display: inline-block;
	background-color: #000;
	border: 1px solid #404040;
	padding: 1px;
	}
div.frame img {
	}
a {
	color: rgb(153, 187, 153);
	}
h1 {
	text-align: center;
	font-size: 1.5em;
	}
